.container{
    display: inline-flex;
    flex: 1 1 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    
}
.icon{
    padding: 0.8rem;

}

.searchBox{
    flex: 1;
    border: 0;
    
}
.searchButton{
    background-color: #0f4a8a;
    color: white;
    padding: 0.8rem;
    border-radius: 8px;
}